.Element {
  display: block;
  width: 96px;
  height: 96px;
  margin: 8px;
  position: relative;

  transform: scale(1);
  transition: all ease-in-out 0.15s;

  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.Element-name {
  margin: 0;
  line-height: 100px;

  color: #222;
  letter-spacing: -0.05em;
  font-weight: normal;
  font-size: 1em;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

.Element-inactive:hover:not(:active) {
  transform: scale(1.1);
  z-index: 100;
}

.Element-selected {
  border-radius: 100px;
  transform: scale(2);
  z-index: 200;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

.Element-deselecting {
  z-index: 101;
}
