.Info-showing {
  height: 212px;
}

.Info-panel {
  position: fixed;
  z-index: 1000;

  box-sizing: border-box;
  bottom: -200px;
  min-height: 128px;
  left: 0;
  right: 0;
  padding: 16px;

  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;

  transition: bottom ease-in-out 200ms;
  background: var(--panel-background-color);
  color: var(--panel-text-color);
  box-shadow: 0 -4px rgba(0, 0, 0, 0.2);
}

.Info-showing .Info-panel {
  bottom: 0;
}

.Info h1 {
  margin: 0 0 12px;
}

.Info-desc {
  flex: 1;
  margin: 0 0 12px;
}

.Info-example {
  font-family: Consolas, monospace;
  padding: 0 0 12px;
  letter-spacing: -0.7px;
}

.Info-example .token.punctuation {
  color: var(--grey-1);
}

.Info-example .token.tag {
  color: hsl(212, 100%, 70%);
}

.Info-example .token.attr-name {
  color: hsl(108, 80%, 50%);
}

.Info-example .token.attr-value {
  color: hsl(44, 80%, 50%);
}

.Info-links {
  list-style: none;
  margin: 4px 0 0;
  padding: 0;
}
