.App {
  text-align: center;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  margin: 16px 16px 32px;
}

.App-content {
  flex: 1;
}

.App-footer {
  margin: 16px;
  font-size: 0.8em;
  font-style: normal;
}

.App-title {
  margin: 0 0 16px;
  font-size: 2.4em;

  font-family: "Pacifico", cursive;
  font-weight: bold;
  white-space: nowrap;
  color: var(--grey-4);

  --shadow-color: var(--blue-1);
  text-shadow: -0.8px 0.8px var(--shadow-color), -1px 0px var(--shadow-color),
    -0.8px -0.8px var(--shadow-color), 0px -1px var(--shadow-color),
    0.8px -0.8px var(--shadow-color), 0px 2px var(--shadow-color),
    1px 3px var(--shadow-color), 2px 4px var(--shadow-color),
    3px 5px var(--shadow-color), 4px 5px var(--shadow-color),
    2px 0px var(--shadow-color), 3px 1px var(--shadow-color),
    4px 2px var(--shadow-color), 5px 3px var(--shadow-color),
    6px 4px var(--shadow-color), 5px 5px var(--shadow-color);
}

@media (min-width: 800px) {
  .App-title {
    font-size: 3.2em;
  }
}

@media (min-width: 1000px) {
  .App-title {
    font-size: 4em;
  }
}

.App-footer,
.App-footer a {
  text-decoration: none;
  color: var(--grey-2);
}
