.InfoPanel-showing {
  height: 212px;
}

.InfoPanel-panel {
  position: fixed;
  z-index: 1000;

  box-sizing: border-box;
  bottom: -200px;
  min-height: 128px;
  left: 0;
  right: 0;
  width: 100%;
  padding: 16px;

  border: none;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;

  transition: bottom ease-in-out 200ms;
  background: #333;
  color: white;
  background: var(--panel-background-color);
  color: var(--panel-text-color);
  box-shadow: 0 -4px rgba(0, 0, 0, 0.2);
}

.InfoPanel-showing .InfoPanel-panel {
  bottom: 0;
}
